@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


@import "./normalize.css";
@import "./variables.css";

/* Layout */
@import "./layout/imports.css";
/* Layout */

/* home */
@import "./home/imports.css";
/* home */