html {
    scroll-behavior: smooth;
}

body {
    font-family: "Quicksand", sans-serif;
    background-color: var(--WhiteColor);
    overflow-x: hidden;

    &:lang(ar) {
        direction: rtl;
    }

    &:lang(en) {
        direction: ltr;
    }

    &::before {
        content: "";
        position: fixed;
        inset: 0;
        z-index: -1;

        background-image: url("/images/bg-body.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: left;
    }
}

.sm-none {
    @media (max-width: 640px) {
        display: none;
    }
}

.footer-image {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));

    &:lang(en) {
        right: 5rem;
    }

    &:lang(ar) {
        left: 3rem;
    }
}
